{% extends 'base.html' %}

{% block title %}
    Web projects
{% endblock %}

{% block web %}

<div class="section">
    <div class="container category-main">
        <div class="row">
            <div class="col-lg-6 offset-3 category-projects">
                <div class="text-center category-pr">
                    {% for pw in web_projects %}
                        <a href="{% url 'tasks:detail' pw.pk %}">{{pw.title}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}